[user]
	name = yuta3003
	email = y.nakazawa3003+github@gmail.com
[fetch]
	prune = true
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	template = ~/.gitmessage
[rebase]
	autostash = true
[alias]
  b = branch
  l = log --all --oneline --graph
  s = status
  sb = show-branch
  sw = switch
